<div class="container mx-auto flex justify-center	items-center">

  <div class=" mx-auto mt-4">

    <h2 class="font-bold text-center text-white text-2xl">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Correo electrónico", class: "mt-2 rounded-md w-96 border-2 p-3.5	" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Contraseña", class: "mt-2 rounded-md w-full border-2 p-3.5" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class: "text-white" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Iniciar sesión", class: "rounded-md bg-cyan-700 p-2 w-full text-white" %>
      </div>
      

    <% end %>

    <%= render "users/shared/links" %>

  </div>

</div>
